{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div id="mainBody">
        <header>
            <h1>NourishNet</h1>
            <h2>Select an option below.</h2>
        </header>
        <div class="upload-container">
            <!-- New Button for Donations -->
            <button class="main-btn" onclick="donations()"> See Donations </button>
        </div>
        <script>
            function donations() {
                window.location.href = "/donations";  // Redirect to the donations page
            }
        </script>
    </div>
{% endblock %}
