{% extends "layout.html" %}

{% block title %}
    Chat: {{ user_2.name }}
{% endblock %}

{% block main %}
    <h1 id="chat-title" >{{ user_2.name }} {% if user_1.type == 'provider' %} Delivery {% else %} Pickup {% endif %}</h1>
    <h2 id="chat-subtitle">({{ item_name }})</h2>
    <div id="chat-container">
        {% for msg in messages %}
            <div class="message {% if msg.sender == user_1._id %}sent{% else %}received{% endif %}">
                <div class="message-content">
                    <p>{{ msg.message }}</p>
                    <small>{{ msg.timestamp }}</small>
                </div>
            </div>
        {% endfor %}
    </div>
    <div id="message-box">
        <form id="messageForm" action="/send-message/{{ request_id }}" method="POST">
            <input type="text" id="messageInput" name="message" placeholder="Type a message..." required>
            <button type="button" onclick="sendMessage()">➤</button>
        </form>
    </div>
    <script>
        function sendMessage() {
            const message = document.getElementById("messageInput").value;
            if (message.trim() !== "") {
                document.getElementById("messageForm").submit();
            }
        }
    </script>
{% endblock %}
