{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div id="mainBody">
        <header>
            <h1>NourishNet</h1>
            <h2>Select an option below.</h2>
        </header>
        <div class="upload-container">
            <button class="main-btn" onclick="items()"> Search Database </button>
            <button class="main-btn" onclick="credits()"> View Tax Credits </button>
        </div>
        <script>
            function items() {
                window.location.href = "/search";
            }
            function credits() {
                window.location.href = "/credit";
            }
        </script>
    </div>
{% endblock %}
